@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,wdth@8..144,100..900,75..125');

@theme {
	--color-pyellow: #f5c518;
	--border-pyellow: #f5c518;
	--bg-pyellow: #f5c518;
}

html {
	font-family: 'Roboto-Flex', sans-serif;
}
